@page "/Diseño"

<PageTitle>Bienes Raices Los Compas</PageTitle>
<h1>Bienes Raices Los Compas</h1>
<br>
<div>
 <h2>Aqui podras ver y adquirir alguna propiedad que te guste y adquirirla.</h2>
 <br>
 <div><h3>FINCA DE 1,300 TAREAS DE VENTA EN SAN PEDRO DE MACORÍS</h3></div>
 <img src="https://www.bienesonline.com/republica-dominicana/photos/finca-de-1300-tareas-de-venta-en-san-pedro-de-macoris-FIV267741679310931-687.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/finca-de-1300-tareas-de-venta-en-san-pedro-de-macoris-FIV267741679310932-43.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/finca-de-1300-tareas-de-venta-en-san-pedro-de-macoris-FIV267741679310932-831.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/finca-de-1300-tareas-de-venta-en-san-pedro-de-macoris-FIV267741679310931-512.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/finca-de-1300-tareas-de-venta-en-san-pedro-de-macoris-FIV267741679310928-95.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/finca-de-1300-tareas-de-venta-en-san-pedro-de-macoris-FIV267741679310931-139.jpg" alt="">
 <div><h4>Descripción.</h4></div>
 <br>
 <br>
 <h4>
 *Inmuebles en venta, una excelente finca/villa localizada en San Pedro de Macorís
 <br>
 -Caracteristicas de la Villa en San Jose de Los Llanos:
 <br>
 -Seis habitaciones.
 <br>
 -Seis Baños.
 <br>
 -La villa incluye todo el mobiliario (totalmente amueblada), 100 vacas, 12 caballos, y 2 perros.
 <br>
 -1300 Tareas.
 <br> 
 -Posibilidades de Ampliacion.
 <br>
 -Piscina 10 * 5.
 <br>
 -Jacuzzi con capacidad para 20 personas
 <br>
 -Planta Full.
 <br>
 -Almacenes para alimentos y provisiones con un area de 71.59 metros.
 <br>
 -Amplia Terraza
 <br>
 -Caseta de la bomba, planta electrica.
 <br>
 -Dos casetas para la piscina, bomba, spa, y equipos.
 <br>
 -Dos pozos de agua y cisterna bomba.
 <br>
 -Transformador electrico de 75 KW.
 <br>
 -Sistema de purificacion de agua.
 <br>
 -Calle Interior de 300 metros hormigon armado
 <br>
 -Instalaciones sanitarias y suministro de agua potable interna.
 <br>
 -Instalaciones electricas y distribucion interna.
 <br>
 -Paneles Solares 5 KW
 <br>
 -Finca de ordeño 100n cabezas
 <br>
 -Vacas holstein y girolondo.
 <br>
 PRECIO: 45,000,000 Pesos</h4>
 <h4>
 Ubicacion.
 <br>
 <br>
 Dirección: San Pedro de Macorís
 <br>
 Localidad: San Pedro de Macorís	
 <br>
 Provincia: San Pedro de Macorís
 </h4>
 <br>
 <br>
 <div><h3>Fotos de VILLA MODERNA DE VENTA EN JARABACOA.</h3></div>
 <img src="https://www.bienesonline.com/republica-dominicana/photos/villa-moderna-de-venta-en-jarabacoa-CAV267731679310204-725.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/villa-moderna-de-venta-en-jarabacoa-CAV267731679310200-992.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/villa-moderna-de-venta-en-jarabacoa-CAV267731679310208-250.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/villa-moderna-de-venta-en-jarabacoa-CAV267731679310208-121.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/villa-moderna-de-venta-en-jarabacoa-CAV267731679310208-264.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/villa-moderna-de-venta-en-jarabacoa-CAV267731679310205-891.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/villa-moderna-de-venta-en-jarabacoa-CAV267731679310206-60.jpg" alt="">
 <div><h4>Descripción.</h4></div>
 <br>
 <br>
 <h4>
 Superficie terreno 2,033.45 metros cuadrados
 <br>
 -Construidos aproximados 423,53 metros cuadrados
 <br>
 -Planos completos de la casa con permiso de ayuntamiento
 <br>
 -Título independiente
 <br>
 -Esta dentro del complejo de Jamaca de Dios en Jarabacoa
 <br>
 <br>
 PLANTA BAJA:
 <br>
 -Salón
 <br>
 -Comedor
 <br>
 -Bodega
 <br>
 -Cocina
 <br>
 -Cuarto de  herramientas
 <br>
 -Estudio con baño completo transformable en una habitación
 <br>
 -Baño invitados
 <br>
 -Cuarto de servicio con baño completo
 <br>
 -Terraza con estar y comedor exterior
 <br>
 -Cuarto de lavadora y almacén
 <br>
 -Cuarto de maquinas
 <br>
 -Jacuzzi 12 plazas con calentadores de agua y luces
 <br>
 -Terraza enladrillada para BBQ
 <br>
 <br>
 PLANTA PRIMERA:
 <br>
 -3 habitaciones con baño completo
 <br>
 -Terraza exterior
 <br>
 -Cuarto ropa blanca
 <br>
 <br>
 LO QUE NO SE VE DE LA CASA:
 <br>
 -2 Tinacos de 1,000 litros cada uno
 <br>
 -Planta de tratamiento de 1,200 Galones
 <br>
 -Calentador de agua de 80 Galones
 <br>
 -Tanque Presurizado de 60 Galones
 <br>
 -Bomba de agua de 2HP
 <br>
 -Bomba de agua de emergencia de 3/4HP
 <br>
 -Inversor de 12 Kilos con 8 Baterías más otro Inversor de 8 kilos con 6 baterías. Total 20 Kilos
 <br>
 -Cámaras de seguridad exteriores rodeando la casa
 <br>
 -Instalación de música integrada en casa y terraza
 <br>
 -2 calentadores de agua para el Jacuzzi
 <br>
 -Alarma en todas las áreas
 <br>
 -Tanque de Gas de 100 Galones
 <br>
 <br>
 PRECIO: 650,000 USD
 </h4>
 <h4>Ubicacion.</h4>
 <h4>
 Dirección: JARABACOA
 <br>
 Localidad: Jarabacoa	
 <br>
 Provincia: La Vega
 </h4>
 <br>
 <br>
 <div><h3>Fotos de CASA MODERNA DE VENTA EN BONAO.</h3></div>
 <img src="https://www.bienesonline.com/republica-dominicana/photos/casa-moderna-de-venta-en-bonao-CAV267721679309514-124.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/casa-moderna-de-venta-en-bonao-CAV267721679309514-202.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/casa-moderna-de-venta-en-bonao-CAV267721679309514-831.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/casa-moderna-de-venta-en-bonao-CAV267721679309514-831.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/casa-moderna-de-venta-en-bonao-CAV267721679309507-693.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/casa-moderna-de-venta-en-bonao-CAV267721679309510-597.jpg" alt=""><img src="https://www.bienesonline.com/republica-dominicana/photos/casa-moderna-de-venta-en-bonao-CAV267721679309513-613.jpg" alt="">
 <div><h4>Descripción</h4></div>
 <br>
 <br>
 <h4>
 -Casa amplia y moderna de venta en Bonao
 <br>
 -222.30 Mt2 construcción
 <br>
 -397.50 Mt2 de terreno
 <br>
 Distribución:
 <br>
 -Marquesina doble
 <br>
 -Amplia galería
 <br>
 -Sala
 <br>
 -Comedor
 <br>
 -Cocina
 <br>
 -Area de lavado
 <br>
 -Patio
 <br>
 -Jardín
 <br>
 -3 Habitaciones, principal con baño y walk-in closet
 <br>
 -1 baño compartido
 <br>
 <br>
 PRECIO: 9,500,000 PESOS Financiamiento disponible
 </h4>
 <h4>Ubicacion.</h4>
 <br>
 <h4>
 Dirección: BONAO
 <br>
 Localidad: Bonao	
 <br>
 Provincia: Monseñor Nouel
 </h4>
</div>